@import 'standardStyling';

.subtitle {
  font-size: 22px;
  color: $accentColor;
}

.sitemap {
  padding: 100px 10%;
}

.block, .blockInvert {
  @extend .sitemap;
  display: flex;

  @include tablet {
    flex-wrap: wrap;
  }
}

.block {
  background: linear-gradient(to top right, $accentColor 0%, $white 55%);
  color: $black;

  & .sitemapList {
    list-style: disclosure-closed;
    color: $accentColor;

    & .listItemLink {
      @include setLinkColors($black, $accentColor);
      padding: 10px 0;
      height: 20px;
    }
  }

  &:nth-child(3) {
    background: linear-gradient(to bottom right, $accentColor 0%, $white 55%);
  }

  & .rightSide {
    width: 60%;

    @include tablet {
      width: 100%;
      order: 1;
    }
  }

  & .leftSide {
    width: 40%;

    @include tablet {
      order: 2;
      margin: 20px auto 0;

      & .img {
        width: 100%;
      }
    }

    @include phone {
      width: 60%;
    }
  }
}

.blockInvert {
  background-color: $black;
  color: $white;

  & .rightSide {
    width: 40%;

    & .img {
      margin-left: 30%;
    }

    @include tablet {
      order: 2;
      margin: 20px auto 0;

      & .img {
        width: 100%;
        margin: unset;
      }
    }

    @include phone {
      width: 60%;
    }
  }

  & .leftSide {
    width: 60%;

    @include tablet {
      width: 100%;
      order: 1;
    }
  }
}

