//variables

$accentColor: #f09433;
$black: #111;
$white: #fff;
$grey: #b7b6b6;

$snapchatYellow:#fffc00;
$facebookBlue: #3B5998;
$youTubeRed: #bb0000;
$instagramBackground: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);

$iconsInFooter: (
  facebook: $facebookBlue,
  instagram: $instagramBackground,
  youtube: $youTubeRed,
  snapchat-ghost: $snapchatYellow
);

$tabletMaxSize: 1100px;
$phoneMaxSize: 550px;

$font-size: 16px;
$h2-title-size: $font-size + 3px;
$h3-title-size: $h2-title-size + 3px;

//sizes

@mixin tablet {
  @media (max-width: $tabletMaxSize) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $phoneMaxSize) {
    @content;
  }
}

//mixins

@mixin setGridBlock($column-start, $column-span, $row-start, $row-span) {
  grid: {
    column: $column-start / span $column-span;
    row: $row-start / span $row-span;
  }
}

@mixin setLinkColors($normal-color, $hover-color) {
  text-decoration: none;
  color: $normal-color;

  &:hover {
    text-decoration: underline;
    color: $hover-color;
  }
}

//if else statement, vul achter elke variabel true of false in.

$image-styling: 'true';



//notes

// Het gebruik van de each loop en @extend is te vinden in de gridBlcoks, ook zit de extendsloop
// in de footer.scss

// de if else statement in de main.scss is eigenlijk nutteloos, want het zou makkelijker zijn om
// zelf de code aan te passen, maar in de opdracht staat dat je de if - else moet gebruiken dus
// vandaar.
// Voor de for en while loop geld eigenlijk hetzelfde. Deze is alleen handig als je classnamen hebt met
// link1, link2, link3 enz. Dit is niet handig, want dan wordt er meer code gecompiled, als dat je
// ze allemaal dezelfde classname geef. Als je namelijk een specifiek blok wilt stijlen kan je ook
// &nth-child(getal van de hoeveelste class) gebruiken, wat dus het schrijven van de for loop doet
// vergeten en minder code gebruikt. Nog een nadeel aan de forloop is als je de class nog een keer
// wil gebruiken in de html moet je ook de for loop aanpassen voor de stijling en dat is met
// dezelfde classnaam gebruiken minder werk.


