.notes {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #111;
    width: 80px;
}

.lesson {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-left: 80px;
    border-top: 2px solid #111;
}