@import 'standardStyling';

.sideBlock {
  border-top: 1px solid $black;
  width: 80%;
  margin: 0 auto;
  padding: 100px 10%;
  background: linear-gradient(to top left, $white 60%, $accentColor 80%);
}