@import 'standardStyling';

.footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  background: linear-gradient(to top left, $accentColor 0%, $black 30%);
  padding: 50px 30px;
  color: $white;

  @include tablet {
    grid-template-columns: (2, auto);
    justify-content: space-evenly;
  }

  @include phone {
    grid-template-columns: auto;
  }
}

.footerLinks {
  grid-column-start: 1;
  grid-row-start: 1;

  @include tablet {
    grid-column-start: 1;
    grid-row: 1 / span 1;
  }
}

.linksList {
  list-style: none;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.listItemLink {
  text-decoration: none;
  color: white;

  &:hover {
  text-decoration: underline;
  color: $accentColor;
  }
}

.footerTitle {
  color: $accentColor;
  font-size: 19px;
  text-align: center;
  font-weight: 700;
}

.socialMediaIcons {
  grid-column: 1 / span 3;
  grid-row-start: 2;

  @include tablet {
    grid-column: 1 / span 2;
    grid-row-start: 3;
  }

  @include phone {
    grid-column: 1 / span 1;
  }
}

.socialMedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa {
  font-size: 26px;
  margin: 0 10px 0 0;
  color: $black;
  text-decoration: none;
  background: $grey;
  padding: 15px;
  width: 26px;
  text-align: center;
  border-radius: 50%;

  &:hover {
    transition-duration: 1s;
  }

  &::before {
    font-size: 26px;
  }

  &-facebook:hover {
    background: $facebookBlue;
    color: $white;
  }

  &-instagram:hover {
    background: $instagramBackground;
    color: $white;
  }

  &-youtube:hover {
    background: $youTubeRed;
    color: $white;
  }

  &-snapchat-ghost:hover {
    background: $snapchatYellow;
    color: $white;
    text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
  }
}

.footerSearchbar {
  @include tablet {
    grid-column: 1 / span 2;
    grid-row-start: 2;
  }

  @include phone {
    grid-column: 1 / span 1;
  }
}

.searchbar {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0 40px;
}

.search {
  width: 80%;
  padding: 10px;
  height: 30px;
  background: none;
  color: $white;
  border: none;
  border-bottom: 1px solid $white;
  font-size: 16px;
  margin-right: 10px;
  opacity: unset;

  &:focus {
    color: $accentColor;
    border-color: $accentColor;
    transition-duration: 1s;
  }
}

.searchButton {
  width: 100px;
  height: 53px;
  padding: 10px;
  margin-top: -1px;
  border: 0;
  border-radius: 5px;
  color: $black;
  background-color: $accentColor;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;

  &:hover {
    border: 1px solid $accentColor;
    background: none;
    color: $accentColor;
    transition-duration: 1s;
  }
}

.logo {
  display: flex;
  grid-column-start: 3;
  grid-row-start: 1;

  @include tablet {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  @include phone {
    grid-column-start: 1;
    grid-row-start: 4 ;
  }
}

.footerLogo {
  height: 140px;
  width: 240px;
  margin: 0 auto;
}