@import 'standardStyling';

.subtitle {
  font-size: 22px;
  color: $accentColor;
}

.block, .blockInvert {
  padding: 100px 10%;
  display: flex;
}

.block {
  background: linear-gradient(to top right, $accentColor 0%, $white 55%);
  color: $black;

  &:nth-child(3) {
    background: linear-gradient(to bottom right, $accentColor 0%, $white 55%);
  }

  & .rightSide {
    width: 60%;
  }

  & .leftSide {
    width: 40%;
  }
}

.blockInvert {
  background-color: $black;
  color: $white;

  & .rightSide {
    width: 40%;
  }

  & .leftSide {
    width: 60%;
  }
}

