$accentColor: chartreuse;
$black: #111;
$white: #fff;
$grey: #b7b6b6;

$snapchatYellow:#fffc00;
$facebookBlue: #3B5998;
$youTubeRed: #bb0000;
$instagramBackground: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);