* {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.subtitle {
    font-size: 22px;
    color: chartreuse;
}

.nav {
    width: 100%;
    background: linear-gradient(to bottom left, #7fff00, #111111 35%);
    border-bottom: 1px solid chartreuse;
}

.nav-links-list {
    width: calc(100% - 20px);
    list-style: none;
    display: flex;
    padding: 10px 0 10px 20px;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    padding: 15px;
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.nav-link:hover {
    color: chartreuse;
}

/* slider */

.sliderImage {
    width: 80%;
    height: auto;
    margin-left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.slider {
    background: linear-gradient(to bottom, #111111, #ffffff);
    width: 100%;
}

/* Section blokken */

.block, .blockInvert {
    padding: 100px 10%;
    display: flex;
}

.block {
    background-color: #ffffff;
    color: #111;
}

.block .rightSide {
    width: 60%;
}

.block .leftSide {
    width: 40%;
}

.blockInvert {
    background-color: #111;
    color: #fff;
}

.blockInvert .rightSide {
    width: 40%;
}

.blockInvert .leftSide {
    width: 60%;
}

/* footer styling */

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
    background: linear-gradient(to top left, #7fff00 0%, #111111 30%);
    padding: 50px 30px;
    color: white;
    align-content: center;
}

.linksList {
    list-style: none;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.listItemLink {
    text-decoration: none;
    color: white;
}

.listItemLink:hover {
    text-decoration: underline;
    color: chartreuse;
}

.footerTitle {
    color: chartreuse;
    font-size: 19px;
    text-align: center;
    font-weight: 700;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
}

.fa {
    font-size: 26px;  
    margin: 0 10px 0 0; 
    color: #000000; 
    text-decoration: none; 
    background: #b7b6b6;
    padding: 15px;
    width: 26px;
    text-align: center;
    border-radius: 50%;
}

.fa:hover {
    transition-duration: 1s;
}

.fa::before {
    font-size: 26px;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-instagram:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: white;
}

.fa-youtube:hover {
    background: #bb0000;
    color: white;
}

.fa-snapchat-ghost:hover {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.searchbar {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 0 40px;
}

.search {
    width: 80%;
    padding: 10px;
    height: 30px;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 16px;
    margin-right: 10px;
    opacity: unset;
}

.search:focus {
    color: chartreuse;
    border-color: chartreuse;
    transition-duration: 1s;
}

.searchButton {
    width: 100px;
    height: 53px;
    padding: 10px;
    margin-top: -1px;
    border: 0;
    border-radius: 5px;
    color: #111;
    background-color: chartreuse;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.searchButton:hover {
    border: 1px solid chartreuse;
    background: none;
    color: chartreuse;
    transition-duration: 1s;
}

.navLogo {
    height: 75px;
}

.footerLogo {
    height: 170px;
}